.loader {
    box-sizing: border-box;
    border: 3px solid blue;
    border-top-color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: loadingRotate 2s linear infinite;
}

@keyframes loadingRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}